.livrosCadastrados{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 70vh;

}

  .livrosCard{
   width: 85vw;
   height: 60vh;
   display: flex;
   justify-content: center;
   figure{
      width: 13vw;
      height: 27vh;
      border-radius: 14px;
      border: 2px solid blue; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; 
      
      div{
         height: 8vh;
         width: 15vw;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly; 
         text-align: center;                  
      }
   }
 }


.titleLivrosDoados{
  text-align: center;
}

