.boxLivro{
    background-image: url("../../assets/Livraria.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    
    h1{
      color: white; 
      font-size: 40px;
      width: 27.5vw;
      margin-left: 150px;
    }
}

.titleMain{
   height: 10vh;
    div{
        height: 15vh;
        display: flex;
        align-items: center;
        h2{
            font-size: 30px;
            margin-left: 55px;
            color: #005695;
            text-align: center;
        }
    }
}

.boxCard{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .conteudo{
        width: 20%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #0157944D;
        border-radius: 10px;
        p{
            text-align: center;
            width: 70%;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 600px){
      .boxCard{
        flex-direction: column;
        .conteudo{
        img{
          width: 6vw;
        }
        p{
          font-size: 7px;
        }
       
      }
    }

    .boxLivro{
      h1{
        font-size: 15px;
      }
    }

    .titleMain{
      h2{
        text-align: center;
      }
    }
}