.boxLivro{
    background-image: url("../../assets/Livraria.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    
    h1{
      color: white; 
      font-size: 40px;
      width: 27.5vw;
      margin-left: 150px;
    }
}

.titleMain{
   height: 10vh;
    div{
        height: 15vh;
        display: flex;
        align-items: center;
        h2{
            font-size: 30px;
            margin-left: 55px;
            color: #005695;
            text-align: center;
        }
    }
}

.boxCard{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .conteudo{
        width: 20%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #0157944D;
        border-radius: 10px;
        p{
            text-align: center;
            font-size: 20px;
        }
    }
}

@media (max-width: 600px){
    .boxCard{
       height: auto;
       flex-direction: column;
       gap: 15px;

     .conteudo{
        width: 40vw;
        height: 40vh;
        p{
          font-size: 15px;
        }
       }
    }

    .boxLivro{
      h1{
        font-size: 15px;
        text-align: center;
        margin-left: 0;
      }
    }

  .titleMain{
    div{
      h2{
        text-align: center;
      }
    }
  }
}