.boxLivro{
    background-image: url("../../assets/Livraria.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    
    h2{
      color: white; 
      width: 100vw;                     
    }
}